@model IEnumerable<Models.EF.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách Feedback</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên </th>
                                <th>Số Điện Thoại</th>
                                <th>Email</th>
                                <th>Địa Chỉ</th>
                                <th>Nội Dung</th>
                                <th>Ngày Tạo</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.Id">
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.Address</td>
                                    <td>@item.Content</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.Status</td>
                                    <td style="float:right">


                                        <button class="btn btn-danger">
                                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xóa bản ghi này không?",
                                           OnComplete = "$('#row_" + @item.Id + "').remove()",
                                           HttpMethod = "Delete"
                                       }, new { @type = "submit", @class = "fa fa-trash-o", @style = "color: white" })
                                        </button>


                                    </td>
                                </tr>

                            }

                        </tbody>

                        <br />
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
